<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    {% if page.header_image %}
    <div class="page-header-image">
      <img src="{{ page.header_image | relative_url }}" alt="{{ page.title }}">
      <div class="header-text"> Photo at Interop Tokyo ShowNet </div>
      
    </div>
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
